__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
.comet.config
.DS_Store
*/.DS_Store
**/.DS_Store
.vscode/
archives/
model/
Dataset/NTIRE2022_interpolated/
Dataset/NTIRE2022_original/
Dataset/NTIRE_CROPPED_*
Dataset/NTIRE_*
Dataset/ColorPatch_*
evaluate/
assets/cell_position/data/*_4000.cpkl

Experiment/LearnedWeights/

Tutorials/data/LP/
Assets/cell_position/data/*_4000.cpkl
Dataset/tinyNTIRE_*
Dataset/tinyNTIRE2022_interpolated

Website
Dataset/ImageNet_*

Tutorials/data/cortex_sim/LP
Logging

test.py
Tutorials/RetinaSimulation/Results

Dataset/FullColors*
Dataset/HueSphere*

# Large dataset files
Dataset/ARAD_1K_Mirror/
Dataset/ARAD_*_LMS/
*.mat
*.zip
